.oculto {
    display: none;
}

.error{
    border: solid 2px red;
}

.mensaje-error{
    color: red;
    margin-left: 8px;
}

#boton-siguiente{
display: block;
margin: 5px 0px;
}

#calcular-edades{
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
}